<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mini Message Board</title>
  <link rel="icon" type="image/x-icon" href="ejs.svg" />
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <h1>Form</h1>
  <%- include('navbar', {links: links}) %>
  <%- include('error.ejs') %>
  <div class="form-container">
    <form method="POST" action="/new">
      <div class="input-container">
        <label for="text">Text: </label>
        <input type="text" name="text" id="text" />
      </div>
      <div class="input-container">
        <label for="user">User: </label>
        <input type="text" name="user" id="user" />
      </div>
      <div>
        <input class="btn" type="submit" value="Submit" />
      </div>
    </form>
  </div>
</body>

</html>